<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSC690_SwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E59250827273AA400576D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E59251927273AA500576D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E59252427273AA500576D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
